<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawCurve.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86EDC1C11EA07B1C0076C03D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86EDC1DA1EA07B1D0076C03D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86EDC1E51EA07B1D0076C03D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
